body {
   background-color: black;
}
.coco {
    color: aqua;
    text-align: center;
}
.ball {
    border: 30px solid;
    border-color: red;
    background-color: aqua;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: auto;


}

button {
    background-color: aqua;
    height: 50px;
    width: 100px;
    color: black;
    font-weight: bolder;
    font-size: larger;
}
.buttons {
   position: absolute;
    
    margin-left: 470px;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 500px;
   
}

